*{
    margin: 0px;
    padding: 0px;
}
a{
    color: black;
    text-decoration: none;
}
.hidden{
    width: 1px;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9999;
}
button{
    border: none;
}

/* 헤더영역 시작 */
header{
    width: 100%;
    height: 55px;
    padding: 0px 16px;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index:99;
}
.logo{
    width: 158px;
    height: 31px;
    margin: 0px auto;
    /*background: red;*/
    position: relative;
    top: 0px;
    left: 0px;
    overflow:hidden;
}
.logo img{
    width: 100%;
    height: auto;
}

.menu{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 10px;
    left: 15px;
    /* background: red; */
    overflow:hidden;
    -webkit-transition: 0.4s ease;
}
.menu img{
    width: 100%;
    height: auto;
}

.home{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 10px;
    right: 15px;
    overflow:hidden;
}
.home img{
    width: 100%;
    height: auto;
}

nav#mobilemenu{
    width: 244px;
    height: 700px;
    position: absolute;
    top: 55px;
    left: 0px;
    background: white;
    z-index: 10;
    overflow: scroll;
    /* display: block; */
}
div#mobilemenu_inner {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
}
span#mobileclose_btn{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right:10px;
}
span#mobileclose_btn img{
    width: 100%;
    height: 100%;
}
/* nav#mobilemenu a{
    width: 100%;
    height: 100%;
    display: block;
    font: normal 4.2667vw 'Nanum Gothic KR' ;
    color: rgb(0, 0, 0);
} */
div#login{
    width: 100%;
    height: 120px;
    background:#869970; 
    border-bottom: solid #dddddd 1px;
    box-sizing: border-box;
}
p#welcome{
    width: 100%;
    height: auto;
    font: bold 16px 'Nanum Gothic KR';
    color: rgb(0, 0, 0);
    position: absolute;
    top: 25px;
    left: 20px;
}
p#welcome_img{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 20px;
    left: 155px;
 
    
}
p#welcome_img img{
    width: 100%;
    height: 100%;
}
button#login_btn{
    width: 80px;
    height: 25px;
    margin-top: 20px;
    background:#ececec;
    border: solid 1px #dddddd;
    border-radius: 15px;
    position: absolute;
    left: 13px;
    top: 45px;
    font:normal 10px 'Nanum Gothic KR'; 
    color: rgb(0, 0, 0)
}
button#join_btn{
    width: 80px;
    height: 25px;
    margin-top: 20px;
    background:#ececec;
    border: solid 1px #dddddd;
    border-radius: 15px;
    position: absolute;
    left: 110px;
    top: 45px;
    font:normal 10px 'Nanum Gothic KR'; 
    color: rgb(0, 0, 0)
}
ul#mobile_menu_list{
    width: 100%;
    height: 500px;
    /* background: yellow; */
    position: relative;
    top: 0px;
    left: 0px;
   
}
ul#mobile_menu_list>li{
    width: 100%;
    height:60px;
    /* background: pink;  */
    border-bottom: solid #dddddd 1px;
    box-sizing: border-box;   
    text-indent: 15px; /*들여쓰기*/
    overflow:hidden;    
    line-height:60px; 
    position:relative;
    left:0px; 
    top:0px; 
}
ul#mobile_menu_list>li>a{
    font:bold 16px 'Nanum Gothic KR'; 
    color: rgb(0, 0, 0);

}
span.mobile_icon {
    width: 60px;
    height: 60px;
    text-align: center;
    text-indent: 0px;
    display: block;
    position: absolute;
    right: 10px;
    top: 0px;
    -webkit-transition: 0.4s ease;
    /* 연속적인 모션효과 transition 지정 */

}
span.mobile_selected {
    /* 모바일메뉴 화살표 아이콘 활성화 스타일 지정 (회전) */
    -webkit-transform: rotate(180deg);

}
ul.mobile_submenu_list{
    width: 100%;
    height: 100%;
    background:#bfceaf; 
    position: relative;
    left: 0px;
    top: 0px;
}
ul.mobile_submenu_list>li{
    width: 100%;
    height:50px;
    text-indent: 35px;
    border-bottom: solid #dddddd 1px;
    box-sizing: border-box;
    line-height:50px; 
}
ul.mobile_submenu_list>li>a{
    font:normal 14px 'Nanum Gothic KR'; 
    color: rgb(0, 0, 0);
   
}
div#mobile_graylayer {
    /* 전체를 어둡게 해주는 div 스타일 지정 */
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.8;
    position: fixed;
    left: 0px;
    top: 55px;
}

main{
    width: 100%;
    min-height: 2000px;
    padding: 60px 16px;
    box-sizing: border-box;
    /*background: #cccccc;*/
}

footer{
    width: 100%;
    height: 160px;
    background: #858585;
    margin-top: 30px;
}











@media screen and (orientation:landscape){
    footer{
        width: 100%;
        height: 250px;
    }
}   


