section#visual{
    width: 100%;
    height: 287px;
    position: relative;
    top: 55px;
    left: 0px;
}
ul#visual_list{
    width: 100%;
    height:100%;
}
ul#visual_list>li{
    width: 100%;
    height:100%;
    
}
ul#visual_list>li:nth-child(1){
    background: url('/eyebreath/mobile/images/main/vvisual1.jpg') no-repeat center; 
    background-size:cover; 
}
ul#visual_list>li:nth-child(2){
    background:url('/eyebreath/mobile/images/main/visual2.jpg') no-repeat center; 
    background-size:cover; 
}
ul#visual_list>li:nth-child(3){
    background:url('/eyebreath/mobile/images/main/visual3.jpg') no-repeat center; 
    background-size:cover; 
}
div#visual_text1{
    width: 100%;
    height: 100px;
    margin: 0px auto;
    position: absolute;
    top: 180px;
    left: 0px;
    text-align: center;
}
div#visual_text2{
    width: 100%;
    height: 100px;
    margin: 0px auto;
    position: absolute;
    top: 180px;
    left: 0px;
    text-align: center;
}
div#visual_text3{
    width: 100%;
    height: 100px;
    margin: 0px auto;
    position: absolute;
    top: 180px;
    left: 0px;
    text-align: center;
}
p.visual_title a{
    font: bold 8.5333vw 'Kanit';
    color: white;
}
p.visual_middle a{
    font: normal 4.2667vw 'Nanum Gothic KR';
    color: white;
}
p.visual_last a{
    font: normal 3.2000vw 'Nanum Gothic KR';
    color: white;
}

section#mini_menu{
    width: 100%;
    height: 120px;
    padding-top: 20px;
    box-sizing: border-box;
    border-bottom: solid 1px #dad6d6;
}
ul#mini_menu_list{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
ul#mini_menu_list>li{
    width: 17.6%;
    height: auto;
    /*background: red;*/
}
p.mini_menu_image{
    width:100%;
    height: auto;
}
p.mini_menu_image img{
    width: 100%;
    height: auto;
}
p.mini_menu_text a{
    font: normal 3.2000vw 'Nanum Gothic KR';
    color: black;
}

section#new_item{
    width: 100%;
    height: 280px;
    margin-top: 20px;
    border-bottom: solid 1px #828282;
    /*background: darkgoldenrod;*/
}
div#new_item_text{
    width: 40%; /*150px*/
    height: 14.28%; /*40*/
    margin-bottom: 10px;
    /*background: darkcyan;*/
}
p.new_item_title{
    font: bold 4.2667vw 'Nanum Gothic KR';
}
p.new_item_title2{
    font: bold 4.2667vw 'Nanum Gothic KR';
}
ul#new_item_list{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul#new_item_list>li{
    width: 30.72%;
    height: auto;
    /*background: yellow;*/ 
}
p.new_item_image{
    width: 100%;
    height: auto;
}
p.new_item_image img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
p.new_item_brand{
    font: bold 3.7333vw 'Nanum Gothic KR' ;
    margin-top: 5px;
    margin-left: 3px;
}
p.new_item_name{
    font: normal 3.7333vw 'Nanum Gothic KR';
    margin-top: 5px;
    margin-left: 3px;
}
p.new_item_price{
    font: bold 3.2vw 'Nanum Gothic KR' ;
    margin-top: 5px;
    margin-left: 3px;
}

section#premium_ad{
    width: 100%;
    height: 182px;
    background: url('/eyebreath/mobile/images/main/premium.jpg') no-repeat center;
    background-size: cover;
    padding-top: 10px;
    box-sizing: border-box;
}
div#premium_ad_text{
    width: 65.33%;/*245*/
    height: 82.41%; /*150px*/
    margin: 0px auto;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
}
p.premium_ad_title1{
    font: normal 3.7333vw 'Nanum Gothic KR';
    color: white;
    margin-bottom: 7px;
}
p.premium_ad_title2{
    font: bold 8vw 'Nanum Gothic KR';
    color: white;
    margin-bottom: 20px;
}
p.premium_ad_title3{
    font: normal 3.7333vw 'Nanum Gothic KR';
    color: white;
    margin-bottom: 10px;
}
.premium_ad_btn{
    font: normal 2.4vw 'Nanum Gothic KR';
    color: white;
    background: rgba(12, 55, 112, 0.8);
    border: 1px #0C3770;
    border-radius: 8px;
    width: 26.66%;
    height: 10.98%;
}

section#best_item{
    width: 100%;
    height: 661px;
    margin-top: 30px;
    border-bottom: solid 1px #828282;
}
div#best_item_text{
    width: 43.73%; /*164px*/
    height: auto;
    margin-bottom: 20px;
}
p.best_item_title{
    font: bold 4.2667vw 'Nanum Gothic KR';
}
p.best_item_title2{
    font: bold 4.2667vw 'Nanum Gothic KR';
}
ul#best_item_list{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul#best_item_list>li{
    width: 46.50%;
    height: auto;
    margin-bottom: 20px;
    /*background: slateblue;*/
}
p.best_item_image{
    width: 100%;
    height: auto;
}
p.best_item_image img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
p.best_item_brand{
    font: bold 3.7333vw 'Nanum Gothic KR' ;
    margin-top: 5px;
    margin-left: 3px;
}
p.best_item_name{
    font: normal 3.7333vw 'Nanum Gothic KR';
    margin-top: 5px;
    margin-left: 3px;
}
p.best_item_price{
    font: bold 3.2000vw 'Nanum Gothic KR' ;
    margin-top: 5px;
    margin-left: 3px;
}

section#week_style{
    width: 100%;
    height: 240px;
    margin-top: 20px;
    border-bottom: solid 1px #828282;
    /*background: pink;*/
}
div#week_style_text{
    width: auto; /*200px*/
    height: auto;
    margin-left: 2px;
    margin-bottom: 20px;
    /*background: skyblue;*/
}
p.week_style_title{
    font: bold 4.8vw 'Nanum Gothic KR';
}
ul#week_style_list{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}
ul#week_style_list>li{
    width: 30.89%; 
    height: auto;
    /*background-color: teal;*/
    position: relative;
    top: 0px;
    left: 0px;
}
p.week_style_image img{
    width: 100%;
    height: auto;
}
p.week_style_id_img{
    width: 100%;
    height: auto;
    position: absolute;
    top: 3px;
    left: 5px;
}
p.week_style_id_img img{
    width: 15%;
    height: auto;
}
p.week_style_id a{
    font: bold 2.4vw 'Nanum Gothic KR';
    color: rgb(255, 255, 255);
    position:absolute;
    left:5px; 
    bottom:7px;
}

section#event{
    width: 100%;
    height: 163px;
    background: url('/eyebreath/mobile/images/main/event_bg.jpg') no-repeat center;
    background-size: cover;
    margin-top: 20px;
    position: relative;
    top: 0px;
    left: 0px;
}
div#event_img{
    width: 59.73%; /*224px*/
    height: 68.71%; /*112px*/
    position: relative;
    top: 25px;
    left: 15px;
    margin: 0px auto;
   
}
p.event_image{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0px;
}
p.event_image img{
    width:100%;
    height: auto;
}
div#event_text{
    width: 100%;
    height: auto;
    /*background: #0C3770;*/
    text-align: center;
    position: absolute;
    top: 23px;
    left: 0px;
}
p.event_title1{
    font: bold 6.4vw 'Kanit';
    color: white;
    margin-bottom: 8px;
}
p.event_title2{
    font:bold 4.2667vw 'Nanum Gothic KR' ;
    color: white;
    margin-bottom: 5px;
}
p.event_title3{
    font: bold 3.2vw 'Nanum Gothic KR';
    color: white;
    margin-bottom: 10px;
}
.event_btn{
    font: normal 2.6667vw 'Nanum Gothic KR';
    color: white;
    background: rgba(160,132,79,0.8);
    border: 1px #A0844F;
    border-radius: 8px;
    width: 29.33%;
    height: 12.26%;
}
section#delivery{
    width: 100%;
    height: 450px;
    margin-top: 30px;
    border-bottom: solid 1px #828282;
    /*background: red;*/
}      
div#delivery_text{
    width: auto; /*180px*/
    height: auto;
    margin-bottom: 15px;
    /*background-color: darkgreen;*/
}
p.delivery_title{
    font: bold 4.2667vw 'Nanum Gothic KR';
    margin-bottom: 5px;
}
p.delivery_title2{
    font:bold 4.2667vw 'Nanum Gothic KR';
}
ul#delivery_list{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul#delivery_list>li{
    width: 29.688%;
    height: auto;
    padding-bottom: 20px;
    box-sizing: border-box;
}
p.delivery_image{
    width: 100%;
    height: auto;
}
p.delivery_image img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
p.delivery_brand{
    font: bold 3.2vw 'Nanum Gothic KR' ;
    margin-top: 3px;
    margin-left: 3px;
}
p.delivery_name{
    font: normal 3.2vw 'Nanum Gothic KR';
    margin-top: 3px;
    margin-left: 3px;
}
p.delivery_price{
    font: bold 2.6667vw 'Nanum Gothic KR' ;
    margin-top: 3px;
    margin-left: 3px;
}

div#footer_day{
    width: 100%;
    height: auto;
    /*background: tomato;*/
    padding-top: 20px;
    box-sizing: border-box;
    text-align: center;
}
p.day{
    font:normal 3.2vw 'Nanum Gothic KR' ;
    color: #1D1D1D;
}
div#footer_btn{
    width: 100%;
    height: auto;
    /*background: yellow;*/
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
}
button#btn{
    font: normal 2.6667vw 'Nanum Gothic KR';
    color: #1D1D1D;
    background: #A9A9A9;
    border: 1px #A9A9A9;
    width: 29.33%;
    height: 12.5%;
}
button#btn2{
    font: normal 2.6667vw 'Nanum Gothic KR';
    color: #1D1D1D;
    background: #A9A9A9;
    border: 1px #A9A9A9;
    width: 29.33%;
    height: 12.5%;
}
ul#footer_contents{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px auto;
    /*background: red;*/
}
ul#footer_contents>li{
    text-align: center;
}
ul#footer_contents>li a{
    font: normal 2.6667vw 'Nanum Gothic KR';
    color:  #1D1D1D;
}
div#footer_comment{
    width:66.66%;
    height: auto;
    /*background: darkkhaki;*/
    margin: 0px auto;
    text-align: center;
}
p.footer_name{
    font: normal 2.6667vw 'Nanum Gothic KR';
    color:  #1D1D1D;
    margin-bottom: 2px;
}
p.footer_address{
    font: normal 2.6667vw 'Nanum Gothic KR';
    color:  #1D1D1D;
    margin-bottom: 2px;
}
p.footer_number{
    font: normal 2.6667vw 'Nanum Gothic KR';
    color:  #1D1D1D;
}






@media screen and (orientation:landscape) {
    section#visual{
        height: 400px;
    }
    div#mini_menu{
        height: 200px;
    }
    div#new_item{
        height: 600px;
    }
    div#premium_ad{
        height: 300px;
    }
    div#best_item{
        height: 1300px;
    }
    div#week_style{
        height: 450px;
    }
    div#event{
        height: 300px;
    }
    div#delivery{
        height: 800px;
    }
}
